{% extends 'news/base.html' %}
{% load static %}

{% block content %}

<p>Смотреть новости по категориям:</p>

<div class="divcat">
<ul class="cati">
{% for c in cats %}
     <li>
         <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
     </li>
{% endfor %}
</ul>
</div>
    <form action="{% url 'searchBy' %}" method="post" class="forSearch">
        {% csrf_token %}
        <div class="forErrors">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p class="formfield"><label for="{{ f.id_for_label }}">{{ f.label }} </label>{{ f }}</p>
            <div>{{ f.errors }}</div>
        {% endfor %}


        <input type="image" class="searchBtn" src="{% static 'news/img/search.png' %}" border="0" alt="Submit" />
    </form>

<p>Все новости:</p>
<ul>
{% for p in posts %}
    <li>
        <h2><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h2>
        <p>{{p.content}}</p>
        <p>Категория: {{p.cat}}</p>
        <P>{{p.time_created|date:""}}</P>
    </li>
    <hr>
{% endfor %}
</ul>
{% endblock %}