{% extends 'news/base.html' %}
{% load static %}

{% block content %}

    <div class="profileCard">
        <img src="{{ profile.profile_pic.url }}" class="avatar" alt="avatar">
        <div class="about">
            <p class="username">{{ profile.user.username }}</p>
            <p>Email: {{ profile.user.email }}</p>
            <p class="aboutUser">Обо мне: {{ profile.about }}</p>
        </div>
    </div>

{% if profile.id == request.user.profile.id %}
    <button  class="editProfile" onclick="window.location.href = '{% url 'editProfile' %}';">Редактировать профиль</button>
{% else %}
    {% if is_flw %}
        <button class="unflw_btn" onclick="window.location.href = '../following/?param=unfollow&usid={{profile.user.id}}';">Отписаться</button>
    {% else %}
        <button class="flw_btn" onclick="window.location.href = '../following/?param=follow&usid={{profile.user.id}}';">Подписаться</button>
    {% endif %}
{% endif %}
<a href="../subscriptions/?usid={{profile.user.id}}" class="subs">Подписки</a>
<a href="../followers/?usid={{profile.user.id}}" class="subs">Подписчики</a>

<div class="userNews">
    <p>Новости пользователя:</p>
    {% for n in news %}
        <h2><a href="{{ n.get_absolute_url }}">{{n.title}}</a></h2>
        <p>{{n.content}}</p>
        <p>Категория: {{n.cat}}</p>
        <P>{{n.time_created|date:""}}</P>
    <hr>
    {% endfor %}
</div>

{% endblock %}